<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
   version="5.0">
    <servlet>
        <servlet-name>WgsLongPollingServlet</servlet-name>
        <servlet-class>org.wgs.sample.WgsLongPollingServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>WgsLongPollingServlet</servlet-name>
        <url-pattern>/wgs-longpoll/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <!--
    <resource-env-ref>
        <resource-env-ref-name>concurrent/WampRpcExecutorService</resource-env-ref-name>
        <resource-env-ref-type>javax.enterprise.concurrent.ManagedExecutorService</resource-env-ref-type>
    <resource-env-ref>
    -->
    <resource-ref>
        <res-ref-name>jdbc/WgsDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <env-entry>
        <env-entry-name>cluster/enabled</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>false</env-entry-value>
    </env-entry>

    <env-entry>
        <env-entry-name>cluster/wamp_realm</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>realm1</env-entry-value>
    </env-entry>            
            
    <env-entry>
        <env-entry-name>cluster/wamp_node_url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ws://localhost:8080/wgs</env-entry-value>
    </env-entry>    
    
    <env-entry>
        <env-entry-name>cluster/wamp_server_url</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ws://localhost:8080/wgs</env-entry-value>
    </env-entry>        
    
</web-app>
